<?xml version="1.0"?>
<!-- Mapping -->
<launch>
  <arg name="scan_topic"          default="scan"/>
  <arg name="base_frame"          default="base_link"/>
  <arg name="odom_frame"          default="odom"/>
  <arg name="map_frame"           default="map"/>
  <arg name="map_update_interval" default="5.0"/>
  <arg name="maxUrange"           default="10.0"/>
  <arg name="sigma"               default="0.05"/>
  <arg name="kernelSize"          default="1"/>
  <arg name="lstep"               default="0.05"/>
  <arg name="astep"               default="0.05"/>
  <arg name="iterations"          default="5"/>
  <arg name="lsigma"              default="0.075"/>
  <arg name="ogain"               default="3.0"/>
  <arg name="lskip"               default="0"/>
  <arg name="srr"                 default="0.1"/>
  <arg name="srt"                 default="0.2"/>
  <arg name="str"                 default="0.1"/>
  <arg name="stt"                 default="0.2"/>
  <arg name="linearUpdate"        default="0.10"/>
  <arg name="angularUpdate"       default="0.25"/>
  <arg name="temporalUpdate"      default="1.0"/>
  <arg name="resampleThreshold"   default="0.5"/>
  <arg name="particles"           default="30"/>
  <arg name="xmin"                default="-50.0"/>
  <arg name="ymin"                default="-50.0"/>
  <arg name="xmax"                default="50.0"/>
  <arg name="ymax"                default="50.0"/>
  <arg name="delta"               default="0.05"/>
  <arg name="llsamplerange"       default="0.01"/>
  <arg name="llsamplestep"        default="0.01"/>
  <arg name="lasamplerange"       default="0.005"/>
  <arg name="lasamplestep"        default="0.005"/>

  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen">
    <remap from="scan"                to="$(arg scan_topic)"/>
    <param name="base_frame"          value="$(arg base_frame)"/>
    <param name="odom_frame"          value="$(arg odom_frame)"/>
    <param name="map_frame"           value="$(arg map_frame)"/>
    <param name="map_update_interval" value="$(arg map_update_interval)"/>
    <param name="maxUrange"           value="$(arg maxUrange)"/>
    <param name="sigma"               value="$(arg sigma)"/>
    <param name="kernelSize"          value="$(arg kernelSize)"/>
    <param name="lstep"               value="$(arg lstep)"/>
    <param name="astep"               value="$(arg astep)"/>
    <param name="iterations"          value="$(arg iterations)"/>
    <param name="lsigma"              value="$(arg lsigma)"/>
    <param name="ogain"               value="$(arg ogain)"/>
    <param name="lskip"               value="$(arg lskip)"/>
    <param name="srr"                 value="$(arg srr)"/>
    <param name="srt"                 value="$(arg srt)"/>
    <param name="str"                 value="$(arg str)"/>
    <param name="stt"                 value="$(arg stt)"/>
    <param name="linearUpdate"        value="$(arg linearUpdate)"/>
    <param name="angularUpdate"       value="$(arg angularUpdate)"/>
    <param name="temporalUpdate"      value="$(arg temporalUpdate)"/>
    <param name="resampleThreshold"   value="$(arg resampleThreshold)"/>
    <param name="particles"           value="$(arg particles)"/>
    <param name="xmin"                value="$(arg xmin)"/>
    <param name="ymin"                value="$(arg ymin)"/>
    <param name="xmax"                value="$(arg xmax)"/>
    <param name="ymax"                value="$(arg ymax)"/>
    <param name="delta"               value="$(arg delta)"/>
    <param name="llsamplerange"       value="$(arg llsamplerange)"/>
    <param name="llsamplestep"        value="$(arg llsamplestep)"/>
    <param name="lasamplerange"       value="$(arg lasamplerange)"/>
    <param name="lasamplestep"        value="$(arg lasamplestep)"/>
  </node>
</launch>
