<?xml version="1.0"?>
<!-- Odometry Filter -->
<launch>
  <arg name="odom_filter_config_file" default="$(find auto_racecar)/params/odom_filter.yaml"/>
  <arg name="map_frame"               default="map"/>
  <arg name="odom_frame"              default="odom"/>
  <arg name="base_link_frame"         default="base_link"/>
  <arg name="world_frame"             default="odom"/>
  <arg name="odom0"                   default="odom"/>
  <arg name="imu0"                    default="imu"/>

  <node name="ekf_se" pkg="robot_localization" type="ekf_localization_node" output="screen">
    <rosparam file="$(arg odom_filter_config_file)" command="load"/>
    <param name="map_frame"                         value="$(arg map_frame)"/>
    <param name="odom_frame"                        value="$(arg odom_frame)"/>
    <param name="base_link_frame"                   value="$(arg base_link_frame)"/>
    <param name="world_frame"                       value="$(arg world_frame)"/>
    <param name="odom0"                             value="$(arg odom0)"/>
    <param name="imu0"                              value="$(arg imu0)"/>
    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->
  </node>
</launch>
