<?xml version="1.0"?>
<!-- State Publisher -->
<launch>
  <arg name="model"                   default="$(find auto_racecar)/urdf/urdf/racecar.urdf.xacro"/>
  <arg name="publish_joint_state"     default="true" />
  <arg name="publish_joint_state_gui" default="false" />

  <!-- Convert xacro into urdf to load on parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <!-- Broadcast joint state -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" if="$(arg publish_joint_state)"/>
  <!-- Broadcast link pose -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <!-- Control joint state for debugging -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"
    if="$(arg publish_joint_state_gui)"/>
</launch>
