<?xml version="1.0"?>
<launch>
  <arg name="laser_serial_port"       default="/dev/rplidar"/>
  <arg name="imu_serial_port"         default="/dev/gy85"/>
  <arg name="motor_serial_port"       default="/dev/uno"/>
  <arg name="laser_frame"             default="base_laser_link"/>
  <arg name="imu_frame"               default="base_imu_link"/>
  <arg name="base_frame"              default="base_link"/>
  <arg name="odom_frame"              default="odom"/>
  <arg name="map_frame"               default="map"/>
  <arg name="laser_topic"             default="scan"/>
  <arg name="imu_topic"               default="imu"/>
  <arg name="odom_topic"              default="odom"/>
  <arg name="imu_config_file"         default="$(find auto_racecar)/params/imu.yaml"/>
  <arg name="odom_filter_config_file" default="$(find auto_racecar)/params/odom_filter.yaml"/>
  <arg name="rviz_config_file"        default="$(find auto_racecar)/rviz/default.rviz"/> <!-- TODO(CHULIP): Change config -->

  <!-- Use simulated time -->
  <param name="use_sim_time" value="true"/>

  <!-- Odometry -->
  <!-- Laser Odometry -->
  <include file="$(find auto_racecar)/launch/includes/laser_odom.launch">
    <arg name="base_frame_id"    value="$(arg base_frame)"/>
    <arg name="laser_scan_topic" value="$(arg laser_topic)"/>
    <arg name="odom_topic"       value="$(arg odom_topic)"/>
  </include>
  <!-- Odometry Filter -->
  <include file="$(find auto_racecar)/launch/includes/odom_filter.launch">
    <arg name="odom_filter_config_file" value="$(arg odom_filter_config_file)"/>
    <arg name="base_link_frame"         value="$(arg base_frame)"/>
    <arg name="odom_frame"              value="$(arg odom_frame)"/>
    <arg name="map_frame"               value="$(arg map_frame)"/>
    <arg name="world_frame"             value="$(arg odom_frame)"/>
    <arg name="imu0"                    value="$(arg imu_topic)"/>
    <arg name="odom0"                   value="$(arg odom_topic)"/>
  </include>

  <!-- Mapping -->
  <include file="$(find auto_racecar)/launch/includes/mapping.launch">
    <arg name="base_frame" value="$(arg base_frame)"/>
    <arg name="odom_frame" value="$(arg odom_frame)"/>
    <arg name="map_frame"  value="$(arg map_frame)"/>
    <arg name="scan_topic" value="$(arg laser_topic)"/>
  </include>

  <!-- Rviz -->
  <include file="$(find auto_racecar)/launch/includes/rviz.launch">
    <arg name="rviz_config_file" value="$(arg rviz_config_file)"/>
  </include>

  <!-- Manually launch Play on another terminal when ready -->
  <!-- rosbag play - -clock .bag -->

  <!-- Manually save map when finish -->
  <!-- rosrun map_server map_saver -->
</launch>
